@model ISIntex.Models.WorkOrder

@{
    ViewBag.Title = "Confirmation";
}


<h2>Thank you for your Order!! You ordered chemical compound @Model.CompoundName</h2>
<h2> Your quote for this chemical compound is: $@Model.EstimatedPrice. We will have the testing completed by @Model.DateDue</h2>
<h2> Here are the special requests you listed in the comments: @Model.Comments </h2>

<p style="text-align:center;"><img src="~/Content/images/pillWoman.jpg" class="center"></p>
