@model ISIntex.Models.WorkOrder


@{
    ViewBag.Title = "Estimate";
}

<h2> Your estimated price is: $@Model.EstimatedPrice</h2>


<div class="col-lg-4 mb-4">
    <div class="card h-100">
        <h4 class="card-header">Get an Estimate</h4>
        <div class="card1">
            <div class="gloss" style="height: 200px; font-size: 1.5em; padding: 10px; padding-top: 50px" align="center">
                <p>Reject the offer.</p>
            </div>
        </div>
        <div class="card-footer">
            <input type="button" value="Reject" onclick="location.href='@Url.Action("Reject", "Customer")'" />
        </div>
    </div>
</div>

<div class="col-lg-4 mb-4">
    <div class="card h-100">
        <h4 class="card-header">Get an Estimate</h4>
        <div class="card1">
            <div class="gloss" style="height: 200px; font-size: 1.5em; padding: 10px; padding-top: 50px" align="center">
                <p>Accept the estimate and place the order!</p>
            </div>
        </div>
        <div class="card-footer">
            <input type="button" value="Accept" onclick="location.href='@Url.Action("Accept", "Customer")'" />
        </div>
    </div>
</div>
