@{
    ViewBag.Title = "Index";
}
<div class="container body-content" style="margin-top: 20px;">
    <h1>My Account</h1>
    <h3>Welcome, @ISIntex.Models.Authorized.FirstName @ISIntex.Models.Authorized.LastName to your Northwest labs customer account</h3>
    <hr />
    <h3>Get started</h3>
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Get An Estimate</h4>
                <div class="cardCatalog">
                    <div class="gloss" style="height: 200px; font-size: 1.5em; padding: 10px; padding-top: 70px" align="center">
                        <p>Get an instant estimate on what it will cost to have an assay test</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="Customer/OrderForm" class="btn btn-outline-info btn-block">Get Estimate</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Place An Order</h4>
                <div class="cardCatalog">
                    <div class="gloss" style="height: 200px; font-size: 1.5em; padding: 10px; padding-top: 70px;" align="center">
                        <p>Place an order for an assay </p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="Customer/OrderForm" class="btn btn-outline-info btn-block">Place an order</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">View My Orders</h4>
                <div class="cardCatalog">
                    <div class="gloss" style="height: 200px; font-size: 1.5em; padding: 10px; padding-top: 70px" align="center">
                        <p>See the status and or results from any of your orders</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/customer/MyOrderView" class="btn btn-outline-info btn-block">View Orders</a>
                </div>
            </div>
        </div>
    </div>
</div>