
@{
    ViewBag.Title = "Reject";
}

<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-12">
            <h1>We are sad to see you rejected our estimate</h1>
            <h3>If there is something we could do to change this, please visit our office or give us a call</h3>
        </div>
    </div>
    <!-- Content Row -->
    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
        <!-- Map Column -->
        <div class="col-lg-8 mb-4">
            <!-- Embedded Google Map -->
            <div style="width: 100%"><iframe width="100%" height="400" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=2808%20148th%20Ave%20SE%2C%20Bellevue%2C%20WA%2098007+(Northwest%20Lab)&amp;ie=UTF8&amp;t=p&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Draw map route</a></iframe></div><br />
        </div>
        <!-- Contact Details Column -->
        <div class="col-lg-4 mb-4">
            <h3>Contact Details</h3>
            <p>
                2808 148th Ave SE
                <br>Bellavue, WA 98007
                <br>
            </p>
            <p>
                <abbr title="Phone">Phone</abbr>: (123) 456-7890
            </p>
            <p>
                <abbr title="Email">Email</abbr>:
                <a href="mailto:name@example.com">
                    sales@northwestlabs.com
                </a>
            </p>
            <p>
                <abbr title="Hours">Hours</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
            </p>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-4" align="left">
            <a href="/Customer/MyOrderView" class="btn btn-outline-info btn-block">View My Orders</a>
        </div>
        <div class="col-4" align="left">
            <a href="/Home/Login" class="btn btn-outline-info btn-block">Go To My Account</a>
        </div>
        <div class="col-4"></div>
    </div>
</div>


