
@{
    ViewBag.Title = "Reject";
}

<h2>You rejected the estimate. Please contact the sales team: 801-800-0196 </h2>
<p style="text-align:center;"><img src="~/Content/images/pillWoman.jpg" class="center"></p>

