
@{
    ViewBag.Title = "Index";
}

<div class="container body-content" style="margin-top: 20px;">
    <h1>Manager Account</h1>
    <h3>Welcome, @ISIntex.Models.Authorized.FirstName @ISIntex.Models.Authorized.LastName to your Management Portal</h3>
    <hr />
    <h3>Get started</h3>
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">See Sales Rep Profitablility</h4>
                <div class="cardCatalog">
                    <div class="gloss" style="height: 200px; font-size: 1.5em; padding: 10px; padding-top: 70px" align="center">
                        <p>View a list of all sales reps and the amount they have brought in</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="Manager/SalesByRep" class="btn btn-outline-info btn-block">View Sales by Rep</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">See Assay Profitability</h4>
                <div class="cardCatalog">
                    <div class="gloss" style="height: 200px; font-size: 1.5em; padding: 10px; padding-top: 70px;" align="center">
                        <p>View a list of all Assays and their profitablility</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="Manager/TestAverages" class="btn btn-outline-info btn-block">View Revenue by Assay</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">View Unnassigned Customers</h4>
                <div class="cardCatalog">
                    <div class="gloss" style="height: 200px; font-size: 1.5em; padding: 10px; padding-top: 70px;" align="center">
                        <p>View all new customers that have not yet been assigned to a Sales Rep</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="Manager/UnassignedCustomers" class="btn btn-outline-info btn-block">See Unassigned Customer</a>
                </div>
            </div>
        </div>
    </div>
</div>

