
@{
    ViewBag.Title = "About";
}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        About
        <small>Northwest Labs</small>
    </h1>

    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" src="~/Content/images/pillWoman.jpg" alt="">
        </div>
        <div class="col-lg-6">
            <h2>About Modern Business</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
        </div>
    </div>
    <!-- /.row -->
    <!-- Team Members -->
    <h2>Our Team</h2>

    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="~/Content/images/seattle1.jpg" alt="" style="height: 185px;">
                <div class="card-body">
                    <h4 class="card-title">Seattle</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Administration / Sales</h6>
                    <p class="card-text">Our Seatle office </p>
                </div>
                <div class="card-footer">
                    <a href="/Home/Contact" class="btn btn-outline-info btn-block">Contact A Sales Rep</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="~/Content/images/singapore.jpg" alt="" style="height: 185px;">
                <div class="card-body">
                    <h4 class="card-title">Singapore</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Testing</h6>
                    <p class="card-text">Our Singapore office</p>
                </div>
                <div class="card-footer">
                    <a href="/Home/Login" class="btn btn-outline-info btn-block">Place an Order</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
