
@{
    ViewBag.Title = "About";
}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        About
        <small>Northwest Labs</small>
    </h1>

    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" src="~/Content/images/pillWoman.jpg" alt="">
        </div>
        <div class="col-lg-6">
            <h2>Northwest Labs</h2>
            <p>
            Northwest LabsPharmaceutical provides chemical and compound tests for companies needing in-depth assay analysis.
            An assay analysis is a set of physical, chemical, atomic, and biological tests that are conducted on a chemical 
            compound or drug to determine its characteristics. These tests could include purely laboratory type tests and/or 
            biological tests on live animals. 
            </p>
            <p>
            Northwest Labsmarkets to many different chemical and pharmaceutical companies 
            needing analysis work done on any number of different compounds and drugs. Northwest Labsis a global business with 
            pharmaceutical labs in Singaporeand corporate offices located in Seattle. They have been very successful and are known 
            by many large corporations as leaders in pharmaceutical research and testing. 
            </p>
        </div>
    </div>
    <!-- /.row -->
    <!-- Team Members -->
    <h2>Our Team</h2>

    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="~/Content/images/seattle1.jpg" alt="" style="height: 185px;">
                <div class="card-body">
                    <h4 class="card-title">Seattle</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Administration / Sales</h6>
                    <br />
                    <p class="card-text">
                    The Seattle office handles all of the administrative duties for Northwest Labs.
                    <br />
                    <br />
                    Sales representatives located in this office contact potential clients and discuss the services that are provided by Northwest Labs. 
                    <br /> 
                    <br /> 
                    They are also theprimary contacts within Northwest Labs forexisting clients. 
                    </p>
                </div>
                <div class="card-footer">
                    <a href="/Home/ContactUs" class="btn btn-outline-info btn-block">Contact A Sales Rep</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="~/Content/images/singapore.jpg" alt="" style="height: 185px;">
                <div class="card-body">
                    <h4 class="card-title">Singapore</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Testing</h6>
                    <br />
                    <p class="card-text">
                        The Singapore office performs all of the testing for Northwest Labs.
                        <br />
                        <br />
                        Orders are gathered and the tests are scheduled based on the type of assay required, the amount of the compound, and the due date for the order.
                        <br />
                        <br />
                        The results of all the tests are transmitted via modem to Seattle.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="/Home/Login" class="btn btn-outline-info btn-block">Place an Order</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
