
@{
    ViewBag.Title = "Catalog";
}
<div class="container" style="margin-bottom: 20px;">
    <div style="background-image: url(../../Content/images/vilesMan.jpg); width: 100%">
        <div class="gloss" style="padding-top:100px; padding-bottom: 150px;">
            <div class="row">
                <div class="col-12" align="center">
                    <h2>Our Catalog</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" style="padding-bottom: 30px;">
    <h2>Available Assays</h2>
</div>

<div class="container">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Biochemical Pharmacology</h4>
                <div class="cardCatalog">
                    <div class="gloss" style="height: 200px; font-size: 1.5em; padding: 10px; padding-top: 10px" align="center">
                        <p>Biochemical pharmacology can be: Pharmacology, the branch of medicine and biology concerned with the study of drug action</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/home/login" class="btn btn-outline-info btn-block">Get Estimate</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">DiscoveryScreen® (DS)</h4>
                <div class="cardCatalog">
                    <div class="gloss" style="height: 200px; font-size: 1.5em; padding: 10px; padding-top: 70px;" align="center">
                        <p>An important screening for compounds. </p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/Home/Login" class="btn btn-outline-info btn-block">Get Estimate</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">ImmunoScreen® (IS)</h4>
                <div class="cardCatalog">
                    <div class="gloss" style="height: 200px; font-size: 1.5em; padding: 10px; padding-top: 70px" align="center">
                        <p>Test against antibodies and immunizations</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/home/login" class="btn btn-outline-info btn-block">Get Estimate</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">ProfilingScreen® (PF),</h4>
                <div class="cardCatalog">
                    <div class="gloss" style="height: 200px; font-size: 1.5em; padding: 10px; padding-top: 50px" align="center">
                        <p>Useful for profiling specific compounds into differnt categories.</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/home/login" class="btn btn-outline-info btn-block">Get Estimate</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">PharmaScreen® (PS)</h4>
                <div class="cardCatalog">
                    <div class="gloss" style="height: 200px; font-size: 1.5em; padding: 10px; padding-top: 30px;" align="center">
                        <p>This test is best when screening the validity of pharmacuetical compounds</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/Home/Login" class="btn btn-outline-info btn-block">Get Estimate</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">CustomScreen™ (CS)</h4>
                <div class="cardCatalog">
                    <div class="gloss" style="height: 200px; font-size: 1.5em; padding: 10px; padding-top: 30px" align="center">
                        <p>This is a Northwest Labs custome screen goo for verifying any compund available</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/home/login" class="btn btn-outline-info btn-block">Get Estimate</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
    