
@{
    ViewBag.Title = "Index";
}

<div>
    <div class="gifHero" >
        <div class="gloss">
            <div class="row">
                <div class="col-12" align="center" style="height: 600px">
                    <h3>Northwest Labs</h3>
                    <h4>Fast, dependable results</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">

        <h1 class="my-4">What do we have to offer?</h1>

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Get an Estimate</h4>
                    <div class="card1">
                        <div class="gloss" style="height: 200px; font-size: 1.5em; padding: 10px; padding-top: 50px" align="center">
                            <p>We provide accurate and advance estimates to help you make your decisions.</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-outline-info btn-block">Get Estimate</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Place an order</h4>
                    <div class="card2">
                        <div class="gloss" style="height: 200px; font-size: 1.5em; padding: 10px; padding-top: 70px;" align="center">
                            <p>Already know what you want? No need to wait any longer.</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="/Home/Login" class="btn btn-outline-info btn-block">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">About Us</h4>
                    <div class="card3">
                        <div class="gloss" style="height: 200px; font-size: 1.5em; padding: 10px; padding-top: 30px" align="center">
                            <p>Learn more about our company and we're sure we can find you a assay and price that fits your needs.</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="/Home/About" class="btn btn-outline-info btn-block">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <br />
        <hr />
        <br />
        <!-- Call to Action Section -->
        <div class="row mb-lg-4">
            <div class="col-md-8">
                <h1>Sign Up Now</h1>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row mb-lg-4">
            <div class="col-md-8">
                <p>Customers can place orders, get unlimited estimates, track there order status, and pay there bills all on line!</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-outline-info btn-block" href="#">Sign Up</a>
            </div>
        </div>
        <hr />
        <br />
        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-6">
                <h2>Northwest Labs Services</h2>
                <p>Northwest labs provides the following services:</p>
                <p>For a full list of services and tests please see our <a href="/home/catalog">catalog</a></p>
                <ul>
                   
                    <li>Assays</li>
                    <li>Testing Estimates</li>
                    <li>Sales Rep Assistance</li>
                </ul>
                <p>We strive to be the quickest and best pharmacology testing facility in the world. We have our administrative offices in Seattle but testing facilities in Singapore. To read more please see our about us page</p>
                <a href="/Home/About" class="btn btn-outline-info btn-block">Learn More</a>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid rounded" src="~/Content/images/lab.jpg" alt="" style="width: 95%">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->


</div>


