
@{
    ViewBag.Title = "Login";
}

<section class="bgimage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" align="center">
                <div class="logIn">
                    <h1>Log In</h1>
                    @using (Html.BeginForm("LoginRouter", "Home"))
                    {
                        <p style="color: red">@ViewBag.error</p>
                        <div>
                            <input type="text" placeholder="Username" name="username" />
                        </div>
                        <br />
                        <div>
                            <input type="password" placeholder="Password" name="password" />
                        </div>
                        <br />
                        <input class="btn-info" type="submit" value="Log In" />
                    }
                    <br />
                    @Html.ActionLink("Dont have an account? Make one here!", "SignUp")
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</section>





