
@{
    ViewBag.Title = "NotAuthorized";
}
<div style="padding:25px;">
    <div class="row">
        <div class="col-12" align="center">
            <img src="~/Content/images/notAuthorized.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-12" align="center">
            <h1>Please Log In to view your account page</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4" align="center"></div>
        <div class="col-4" align="center">
            <a class="btn btn-lg btn-outline-info btn-block" href="/Home/Login">Log In</a>
        </div>
        <div class="col-4" align="center"></div>
    </div>
</div>

